/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --buttonColor: black;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: underline;
  color: #17a2b8;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

#navigation a,
.post a,
.send-to-projects a {
  text-decoration: none;
  text-transform: none;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

#navigation a {
  color: var(--mainText);
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;

  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;

  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#yellow-mode {
  background-color: #bf9f00;
}

#purple-mode {
  background-color: #7e4c74;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  max-width: 300px;
  height: 220px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  height: 200px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding-left: 30px;
  padding-bottom: 50px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  padding-top: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  justify-content: center;
  column-gap: 80px;
  background-color: var(--previewShadow);
}

.my_div {
  padding-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#my_ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

#my_li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg);
  background: #ccc;
}

#my_li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px !important;
}

#my_li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
#my_li:hover .my_span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
#my_li:hover .my_span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
#my_li:hover .my_span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
#my_li:hover .my_span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}
#my_li:nth-child(1) span {
  background: #6e5494;
}
#my_li:nth-child(2) span {
  background: #0077b5;
}

.post-wrapper {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5%;
  justify-content: center;
  align-items: center;
}

.post {
  flex-basis: calc(80% / 3);
  background-color: var(--secondaryColor);
  border-radius: 20px;
  min-height: 382.75px;
  min-width: 300px;
  margin-bottom: 30px;
}

.post:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.thumbnail {
  display: block;
  width: 100%;
  /* height: 100%; */
  height: 223px;

  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  transition: 1s ease-in;
}

.post-preview {
  padding: 15px;
}

.post-title {
  color: (--mainText);
  margin: 0;
  text-align: center;
}

.post-intro {
  color: (--secondaryText);
  font-size: 14px;
  text-align: center;
}

.cert-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.certificates img,
.single-project img {
  width: 100%;
}

.certificates h3,
.certificates h5,
.single-project h3 {
  text-align: center;
}
.certificates h5 {
  margin-top: 5px;
}
.certificates h3 {
  margin: 50px 0px;
}
.certificates {
  margin-bottom: 50px;
}

.to-left {
  margin-left: 0px;
}
.send-to-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 150px;
  /* margin: 20px 0px; */
}
.send-to-projects i {
  font-size: 50px;
  color: var(--mainText);
}

.icon1,
.icon2 {
  display: grid;
  place-items: center;
  border-radius: 12px;
  width: 120px;
  height: 80px;
  transition: transform 500ms;
}

.icon1:hover {
  background-color: #6e5494;
}

.icon2:hover {
  background-color: #f06529;
}

/* Animations */

.greeting-wrapper h1 {
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.left-column,
.right-column {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}
.single-project .cert-container {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.about-me {
  animation: scale-in-ver-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.3s both;
}
.icon1,
.icon2 {
  animation: scale-in-ver-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  /* changed preview after flex column, can be erase */
  #preview-shadow {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }
  #preview {
    padding-bottom: 10px;
    margin-top: -20px;
  }
  /* #preview-shadow {
    margin-top: -45px;
    margin-bottom: 30px;
  } */

  .right-column {
    justify-content: center;
  }
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 40px;
  }
}

@media screen and (max-width: 420px) {
  #preview-shadow {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }
  #preview {
    width: 90%;
    padding: 10px 20px;
    margin-right: auto;
    margin-left: auto;
  }
  #preview h3 {
    text-align: center;
  }

  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 0px;
    padding-top: 0px;
    gap: 20px;
  }

  .about-wrapper h4 {
    text-align: center;
  }
  #skills {
    column-gap: 30px;
  }
  .send-to-projects {
    column-gap: 50px;
  }
  .send-to-projects i {
    font-size: 30px;
  }
  .icon1,
  .icon2 {
    width: 90px;
    height: 60px;
  }
}
